body {
  background: linear-gradient(to bottom right, #6a11cb, #2575fc);
  display: flex;
  flex-direction: column;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  height: 100vh;
  margin: 0;

}

label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  background-color: rgb(30, 216, 45);
  color: rgb(255, 255, 255);
  font-weight: bold;
  border: none;
  border-radius: 8px;
}

input {
  border-radius: 6px;
}